h2{
    text-align: center;
    color: rgb(233, 60, 60);
    margin-top: 0%;
}
th {
    text-align: center;
    color: rgb(12, 231, 202);
    
}

td {
    text-align: center;
    color: rgb(145, 226, 13);
}