<h2>Display Data from Json File Example</h2>
<br>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Salary</th>
      <th>Department</th>
      <th>Language</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of data">
      <td>{{items.id}}</td>
      <td>{{items.first_name}}</td>
      <td>{{items.last_name}}</td>
      <td>{{items.salary}}</td>
      <td>{{items.department}}</td>
      <td>{{items.language}}</td>
      <td>{{items.gender}}</td>
    </tr>
  </tbody>
</table>